/* TIPOGRAFIA */
@font-face {
    font-family:"Bosky";
    src: url(../assets/bosky-evanish/BoskyEvanish.ttf);
}


/*GENERAL*/

body{
    background-color: #494645;
    font-family: monospace;
} 

.titulo_pagina{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    height: 60px;
    width: 100%;
    padding-top:15px;
    background-color: #353332;
   
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
/* HEADER */

header{
    color: white;
    font-family: Bosky;
    text-decoration: none;
}

#titulo{
    font-weight: bolder;
    font-size: 40px;
}

#imagen_encabezado{

    height: 450px;
    background-image: url(../assets/restaurantIndex.jpg);
    background-attachment: fixed;
    background-position: bottom;
}

nav a{
    color: inherit;
    text-decoration: none;
    font-size: 20px;
 }


li{
    list-style: none;
}

@media (min-width: 576px){
    li,h3 {
        text-align: center;
    }
}

@media (min-width: 992px){
    li,h3 {
        text-align:start;
    }
}

/* FIN HEADER*/

/* EVENTOS */

.eventos img{

    height: 450px;
    width: 450px;
    margin: 50px;
}

#eventos_fondo1{
    background-image: url(../assets/eventos1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#eventos_fondo2{
    background-image: url(../assets/eventos2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.eventos div{
    margin: 80px;

}
/* INDEX MAIN*/


#titulo_resenas{
    height: 200px;
    width: 200px;
    background-image: url(../assets/presentacion2.jpg);
    border-radius: 50%;
    

}

.resenas img{
    border-radius: 50%;
}

.eventos__carta{
    background-color: #3a3737f5;
    color: white;
}

.presentacion img{

    height: 450px;
    width: 450px;
    margin: 50px;
}

.presentacion__texto{
    padding-top: 40px;
}

/*PAGINA MENU*/


.menu img{
    height: 150px;
    width: 150px;
}

.menu article{
    height: 400px;
    width: 400px;
    background-color: #3a3737;
    margin-bottom: 40px;
}



/* PAGINA RESERVA Y CONTACTO*/


.contacto{

    margin: 100px;
}
.reserva form{
    height: 50vh;
    width: 400px;
    background-color:#686565;
    margin: auto;
}

.reserva input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
}

.contacto input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
}

.contacto textarea{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: none;
}
.form-control {
    border-radius: 0;
}
.contacto input:focus, .contacto textarea:focus {
    background-color: transparent; 
    border-color: none; 
    box-shadow: none; 
    border-bottom: 1px solid rgb(214, 206, 206);
}

.reserva input:focus, .reserva textarea:focus {
    background-color: transparent; 
    border-color: none; 
    box-shadow: none; 
    border-bottom: 1px solid rgb(214, 206, 206);
}

form h3 {
    text-align: center;
}

.contacto__mapa iframe {
    width: 100%; 
    height: 400px;
}


.contacto__mapa {
    margin-bottom: 20px;
}


.contacto__mapa_descripcion {
    text-align: justify;
    margin: 0;
}



/*FOOTER*/

footer ul{
    list-style: none;
    padding: 0;
}

footer{
    background-color: #1f1d1d;
    color: black;
}

a{
    text-decoration: none;
}
