
.contacto {

    form{  
        border: 2px solid #ffffff;

        h3{
            color: white;
            text-shadow: 0 0 10px #ffffff;
        }
        label{
            color: white;
            text-shadow: 0 0 10px #fff;
        }

        input, textarea{

            background-color: transparent;
            border:none;
            border-bottom: 1px solid rgb(107, 102, 102);
            outline: none;

            &:focus{
                background-color: transparent; 
                border-color: none; 
                box-shadow: none; 
                border-bottom: 1px solid rgb(214, 206, 206);
            }
        }
    
        
    

    }
    div{
        .contacto__mapa {
            margin-bottom: 20px;
    
            iframe {
                width: 100%; 
                height: 400px;
            }
        }
        
    
        .contacto__mapa_descripcion {
            text-align: justify;
            margin: 0;
            margin-bottom:80px ;
            color: #fff;
        }
    }
}

@media (min-width: 768px){
    .contacto{
        margin:50px;
    }
}
@media (min-width: 1000px){
    .contacto{
        margin:100px;
    }
}



