

.carousel-inner img {
    height: 500px;
    object-fit: cover;
  }

.eventos{

    justify-content: center;
    .eventos__div{
        margin: 50px auto;
        img{
        
            width: 80%;
            max-width: 350px;
            margin: 0.5rem auto;
            padding: 1rem;
        }
        h3{
            margin-top: 20px;
        }
        p{
            text-align: center;
        }
    }
    

    #eventos_fondo1{
        background-image: url(../assets/fondos/halloween.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
    }
    
    #eventos_fondo2{
        background-image: url(../assets/fondos/navidad.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
    }

    #eventos_fondo3{
        background-image: url(../assets/eventos/valentine.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
    }
}
