
header{

    color: white;
    font-family: $estiloletra;
    text-decoration: none;
    width: 100%;
    height: 450px;
    background-image: url(../assets/fondos/restaurantIndex.jpg);
    background-attachment: fixed;
    background-position: bottom;

    display: flex;
    flex-flow: row nowrap;


    div{
        width: 100%;
        #titulo{
            font-weight: bolder;
            font-size: 40px;
        }
    
        nav{
    
            li{
                list-style: none;
    
                a{
                    color: inherit;
                    text-decoration: none;
                    font-size: 20px;
                }
            }  
        }     
        
    }    
    
        
        
    
         
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row>*{
    padding-left: 0;
    padding-right: 0;
}
.row{
    margin: 0;
}

body{
    
    background-image: url(../assets/fondos/fondo.jpg);

    .titulo_pagina{
        color: white;
        font-family: $estiloletrageneral;
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        height: 60px;
        padding-top:15px;
        background-color:$colorfondoprimario;
    }
}



footer{

    background-color:$colorfondosecundario;
    color: rgb(219, 225, 240);
    width: 100%;
    div{
        padding: 0;
        div{
            padding: 0;
            ul{
                list-style: none;
                padding: 0;
        
                a{
                    color: #ffffff; 
                    text-decoration: none; 
                }
            }
        }
    }  
}


@media (min-width: 0px){
    li,h3 {
        text-align: center;
    }
}

@media (min-width: 992px){
    li,h3 {
        text-align:start;
    }
}