

main{
    .presentacion{
        div{
            margin-top: 20px;
            img{
                max-width: 450px;
                min-width: 100px;
                max-height: 450px;
                min-height: 100px;
                
            }
            .presentacion_texto{
                @extend .flex-dcc;
                p{
                    margin: auto;
                }
            }
        }
        
    }

    .resenas{

        #titulo_resenas{
            height: 200px;
            width: 200px;
            background-image: url(../assets/presentacion2.jpg);
            border-radius: 50%;
        }

        .resenas__div{
            img{
                border-radius: 50%;
            }
        }
    }
}


