
.menu{
    article{

        height: 400px;
        width: 400px;
        background-color: #3a3737;
        margin-bottom: 40px;

        img{
            height: 150px;
            width: 150px;
        }
    }
}