
.menu{
    .menu__div{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        article{
            @extend .article-menu;
            width: 400px;
            height: 400px;  
            min-width: 150px;
            min-height: 150px;
            background-color: $colortagetamenu;
            color: #ffffff;
            border-radius: 10px;
            text-align: center;
            transition: transform 0.3s ease;
            box-shadow: 0 4px 6px rgba(110, 87, 24, 0.5);
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 10px rgba(199, 158, 47, 0.5);
            }
            img{
                width: 150px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                box-shadow: 0 0 150px rgba(0, 0, 0, 1);
            }

            p{
                font-size: 1.2em;
                margin: 10px 0;
                color: #d1d1d1;
            }
            
        }
    }
    
}