
.reserva {
    h3 {
        text-align: center;
    }

    .form-reserva{
        width: 80%;
        max-width: 600px;
        margin: 2rem auto;
        background-color: transparent;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        input{
            background-color: transparent;
            border:none;
            border-bottom: 1px solid rgb(107, 102, 102);
            outline: none;
            &::placeholder{
                color: grey;
            }
        }
        
        input:focus, .reserva textarea:focus {
            background-color: transparent; 
            border-color: none; 
            box-shadow: none; 
            border-bottom: 1px solid rgb(255, 255, 255);
        }
        
        button{
            color: white;
        }
    }
}


.form-control {
    border-radius: 0;
}


