


.reserva {
    h3 {
        text-align: center;
    }

    form{
        height: 50vh;
        max-width: 400px;
        min-width: 200px;
        background-color:#686565;
        margin-top: 20px;
        margin-bottom: 20px;
        input{
            background-color: transparent;
            border:none;
            border-bottom: 1px solid black;
            outline: none;
        }

        input:focus, .reserva textarea:focus {
            background-color: transparent; 
            border-color: none; 
            box-shadow: none; 
            border-bottom: 1px solid rgb(214, 206, 206);
        }
        
    }
}


.form-control {
    border-radius: 0;
}

