
$colorfondoprimario: #A67B5B;
$colorfondosecundario: #4A2E14;
$colortagetamenu: #8C5C3C;

$colorletra: white;

$estiloletra: "Bosky";
$estiloletrageneral: monospace;


.flex-dcc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-menu{
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.margen-secciones{
    margin-top: 10vh;
    margin-bottom: 10vh;
}